@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #18181A;
}
#root {
    height: 100vh;
    width: 100%;
}

.video {
    border: none;
    /* width: 100%;
    height: 100vh; */
    object-fit: cover;
    position: absolute;
}

.content {
    position: relative;
}

.main {
    width: 100%;
    height: 100vh;
}