@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  @apply px-14 md:px-20 lg:px-24 border-2 border-gray-200 text-center py-2 lg:py-2 rounded-xl text-slate-300 text-base md:text-lg hover:bg-slate-400 hover:text-gray-800 hover:font-bold animate-pulse
}

.text{
  @apply text-gray-200 text-justify md:text-left md:text-lg
}

.text2{
  @apply text-gray-200 md:text-left md:text-lg text-base lg:ml-8
}